.order{
  display: flex;
  justify-content: space-between;
  margin: 2%;
  padding: 15px;
  background-color: #f2f2f2;
  border-radius: 5px;
  border: 1px solid #cccccc;
  box-shadow: 0 1px 1px gray;
  font-size: 18px;
}

p{
  color: rgb(70, 69, 69);
  font-size: 26px;
  margin: 25% auto;
}

.name{
  color: rgb(160, 19, 19);
}

label{
  color: rgb(97, 94, 94);
  font-size: 16px;
}

mat-spinner{
  margin: 0 auto;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.overlay{
  height:100vh;
  width:100%;
  background-color:rgba(0, 0, 0, 0.286);
  z-index:    10;
  top:        0;
  left:       0;
  position:   fixed;
}

body{
	margin:0;
}
